.titulo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 24px;
}

.filters-container {
  width: 260px;
  min-width: 260px;
}

.filter-module {
  margin-left: 24px;
  padding: 12px 24px 12px 0;
}

.filter-module:first-child {
  margin-top: 29px;
  padding-top: 0;
  padding-bottom: 24px;
}

.MuiTypography-root.filter-title {
  margin-bottom: 5px;
}

.main-container {
  width: 100%;
  margin: 29px 24px 0 0;
}

.flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.share-button {
  text-align: center;
}